.header{
    display:flex;
    background-color: #000;
    margin:-1px;
   
}
.nav{
    display: flex;
}
a:hover{

        color:rgb(251, 207, 12);
}
a{
    color:white;
    text-decoration: none;
}
ul{
    list-style-type: none;
    display: flex;
    margin-left: 800px;

}
li{
    color: white;
    padding:30px;
    font-size: x-large;

}
li:hover{
    color: rgb(251, 207, 12);
}
.homepage{
    margin-top: 2px;
    display: flex;
    background-color: black;
    border-radius: 30px;
}.aboutus{
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(6, 5, 5);
}
h1{
   text-align: center;
   color: #000;
}
p{

   font-size: xx-large;
   padding: 20px;
}
.aboutus{
    border-radius: 30px;
}
.abtus{
    margin-top: 2px;
    background-color: rgb(36, 36, 36);
}
.vid{
    display: flex;
}
.model1{
    display: block;
    width: 300px;
    background-color: grey;
    border-radius: 30px;
    align-items: center;
}
.models{
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
}
.model1{
    width: 240px;
    height: 500px;

}
.model1:hover{
    width: 250px;
    height: 500px;
    background-color: #000;
    box-shadow: black;
}

.model1 img{
    border-radius: 30px;
    padding: 30px;
}